#spinningContainer {
	outline:gray 1px solid;
	background:white;
	padding:20px;
	width:600px;
	margin:150px auto;
	text-align:center;
	font-size:18px;
}

#interstitialTable h2 {
	margin: auto !important;
	padding: auto !important;
}

#flightResults {
	margin-left:20px;
}

#flightResults:focus {
	outline:0;
}

#flightResults table {
	width:100%;
	outline:1px solid #eee;
	background-color:#fff;
	border-collapse: collapse;
}

#flightResults th,
#flightResults td {
	text-align:left;
	padding:6px;
}

#flightResults tr:nth-child(even) {
	background-color:#eee;
}
	