#c-container {
	margin:30px 0 0 20px;
	width:670px;
	overflow:hidden;
	padding:5px 20px 20px 20px;
	border-radius: 10px;
	box-shadow: #CCC 0px 0px 10px;
}

button.carousel-button{
	margin-left: 3px;
	margin-right: 3px;
	-webkit-box-shadow:#999 0 1px 0 0;
	-moz-box-shadow:#999 0 1px 0 0;
	box-shadow:#999 0 1px 0 0;
	background-color:#EEE;
	border:1px solid #ccc;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	font-size:.9em;
	font-weight:700;
	padding:2px 6px;
	border-radius:5px;
}

.carousel-buttons {
	width:auto;
	vertical-align:bottom;
	border:none;
	
}

.carousel {
  margin: 10px 0;
  width: 660px;
  height: 250px;
}

li.carousel-item {
	
	list-style:none;
}

img.carousel-image {
	z-index:-1;
	opacity:.5;
	float:right;
	width:200px;
	display:block;
	margin:0 0 20px 20px;
}

img.carousel-imageleft{
	z-index:-1;
	opacity:.5;
	float:left;
	width:200px;
	display:block;
	margin:0 20px 20px 0;
}

li[aria-hidden='true'] {
   display: none;
}

li[aria-hidden='false'] {
   display:block ;
}

.hidden {display:none;}