[role="alertdialog"] h1 {
    font-size: 20px;
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
}

.alert {
	margin:20px 40px; 
	padding:20px; 
	border:2px solid #990000; 
	background:#fefee7;
	border-radius:10px
}

.alertSuccess {
	background-image:url(/assets/js/aria/alert/images/check_circle.png);
	background-repeat:no-repeat;
	background-position: 20px 24px; 
	border-color:#006d05;
	padding-left:50px;
}